{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/partials/cardsCarousel.css'%}">
{% endblock style %}



<div class="cardsCarousel">
    <button class="button-left cont" aria-label="Previous item" >
        <img src="{% static 'media/icons/chevron-left.svg'%}"  class="img-prev" alt="">
    </button>

    <button class="button-right cont" aria-label="next item" >
       <img src="{% static 'media/icons/chevron-right.svg'%}" class="img-next" alt="">
    </button>
    <div class="gallery-cards">
        <div class="cards">
            {% for product in products %}
            <div class="card current-card">
                {% include 'products/partials/card.html' with pk=product.pk url=product.image.url description=product.name off=True text='20' price=product.variants.first.price favor=True %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% block scripts %}
    <script src="{% static 'js/partials/cardsCarousel.js' %}" defer></script>
{% endblock scripts %}