{% load static %}

<Link rel="stylesheet" href="{% static 'css/partials/navbar.css' %}">
{% block extra_css %}
{% endblock extra_css %}

<div id='navbar-container'>
    {% comment %} <ul id='navbar-links'>
        <a id="navbar-categorias" href="">
            <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.75 7.41667H0.75M16.75 0.75H0.75M16.75 14.0833H0.75" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
            </svg>

            <li>Categorias</li>
        </a>
        <a href="">
            <li>Moda</li>
        </a>
        <a href="">
            <li>Casa e decorações</li>
        </a>
        <a href="">
            <li>Casamento</li>
        </a>
    </ul> {% endcomment %}
</div>
