{% load static %}
<link rel="stylesheet" href="{% static 'css/partials/sidebar.css' %}">

<aside id="sidebar-container" class="sidebar sidebar--hidden">
    <div class="sidebar__header">
        {% if user.is_authenticated %}
        <a href="">
            <img src="{% static 'media/teste.jpg' %}" alt="Foto de perfil" class="sidebar__avatar">
            <h3>{{ user.username }}</h3>
        </a>
        {% else %}
        <a href="">
            <svg width="30" height="30" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.6931 16.75C13.3026 16.75 13.8647 16.4213 14.1634 15.8901C14.4794 15.3284 14.4448 14.6349 13.9769 14.1917C12.9704 13.238 10.8553 11.75 7.45752 11.75C4.06586 11.75 2.0546 13.2327 1.11162 14.1865C0.666976 14.6363 0.650159 15.3147 0.960231 15.8659" stroke="#A65C35" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.56863 7.86111C9.53231 7.86111 11.1242 6.26924 11.1242 4.30556C11.1242 2.34188 9.53231 0.75 7.56863 0.75C5.60495 0.75 4.01308 2.34188 4.01308 4.30556C4.01308 6.26924 5.60495 7.86111 7.56863 7.86111Z" stroke="#A65C35" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h3>Entrar</h3>
        </a>
        {% endif %}
    </div>

    <nav class="sidebar__menu">
        <ul>
            <li><a href="">Todas as categorias</a></li>
            <li><a href="">Favoritos</a></li>
            <li><a href="">Carrinho</a></li>
            {% if user.is_artisan %}
                <li><a href="">Loja</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="">Sair</a></li>
            {% endif %}
        </ul>
    </nav>
</aside>
