/* ----- FORMS BASE ----- */

h2{
    margin-bottom: 5px; 
    text-align: center; 
}

p{
    margin-bottom: 20px; 
}

a{
    text-decoration: none;
    color: white;
}

.link_recuperar{
    text-decoration: none;
    color: #396787;
}

.form_container{
    padding: 30px 40px; /* Espaçamento interno */
    border: 1px solid var(--color-primary); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0 20px 0;
}

/* Estilos para os campos de formulário (inputs) */
.form_group {
    margin-bottom: 15px;
}

/* Aplica a todos os inputs dentro de .form-group */
.form_group input { 
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; 
} 

/* Estilo para o botão principal */
.btn-primary {
    width: 100%; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.btn_google{
    width: 100%; 
    background-color: #fff;
    color: black;
    padding: 12px 0;
    border: 1px solid #EFF0F6;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.logo_google{
    max-width: 20px;
}

/* Se estiver usando o divisor "Ou" */
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #999;
    margin: 20px 0;
}
.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
}
.divider:not(:empty)::before {
    margin-right: .5em;
}
.divider:not(:empty)::after {
    margin-left: .5em;
}


/* CSS DA IMAGEM */

.profile-upload-wrapper {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 20px;
}

/* Estilo da imagem redonda */
.image-preview-container img {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 1px solid #EFF0F6; 
}

/* Esconde o input file original do navegador */
.input-hidden-container input[type="file"] {
    display: none;
}

/* Estilo do Botão "Alterar Foto" */
.btn-upload-custom {
    background-color: var(--color-green); 
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
    transition: background 0.3s;
    display: inline-block;
    white-space: nowrap;
}

.btn-upload-custom:hover {
    background-color: #858110; 
}

/* MEDIA QUERY: Ajustes para telas pequenas */
@media (max-width: 425px) {
    .profile-upload-wrapper{
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }

    .image-preview-container{
        margin-bottom: 20px;
    }

}