/* ----- PROFILE ----- */

h1, h2, .color{
    color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte principal e uma alternativa */
}

h2{
    font-size: 18px;
    font-weight: bold;
}

.margin{
    margin-bottom: 20px;
}