#mainDetalheProduto{
  padding: 4rem;
  display: grid;
 
}

/* carousel de produtos */

.carouselProduto {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

#searchProduct{
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-10%);
}


.carouselInner {
    position: relative;
    overflow: hidden;
}

.carouselItem {
    width: 100%;
    display: none;
}

.carouselItem.active {
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.carousel-btn.prev {
    left: -40px;
}

.carousel-btn.next {
    right: -40px;
}

.arrow {
    width: 28px;
    height: 28px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.carousel-dots img {
    width: 11px;
    height: 11px;
    cursor: pointer;
}

/* Para cada area  */

.areaA{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.areaC{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#imgHard{
  width: 24px;
  height: 24px;
  cursor: pointer;
}
#imgHard:hover{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  content: url("/static/media/icons/favoriteHover.svg");
}
.textAcessorio{
  color: var(--color-primary-dark);
}








@media screen and (max-width: 425px){
  #mainDetalheProduto{
    padding: 1rem;
 }
}