#mainDetalheProduto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
 
}

/* carousel de produtos */
.carouselProduto {
  position: relative;
  margin-block: 2rem;
}


.carouselInner {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 4 / 3;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
 
}

.carouselItem.active {
  display: block;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10; 
}


.carousel-btn.prev {
  left: -10px;
}

.carousel-btn.next{
  right: -10px;
}

#searchProduct {
  position: absolute;
  top: 5%;
  transform: translateY(-50%);
  right: -10px; 
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 10;
}
.arrow {
  width: 32px;
  height: 32px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.carousel-dots img {
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.header-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.area-tag-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
}

.area-acessorio-e-favorito {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#imgHard {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#imgHard:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  content: url("/static/media/icons/favoriteHover.svg");
}

.textAcessorio {
  color: var(--color-primary-dark);
  font-size: var(--font-size-xl); 
}

.area-preco-compra {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.areaPriceButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.areaPrice {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.areaPriceOff {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.areaPriceOff p {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.3rem;
}

.textPriceRick {
  text-decoration: line-through;
  color: var(--color-gray-dark);
  font-size: var(--font-size-md); 
}

.textPrice {
  font-weight: bold;
  font-size: var(--font-size-3xl); 
}

#comprarButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green);
  padding-block: 1.2rem;

  border: none;
  border-radius: 10px;
}

.iconComprarButton {
  width: 32px;
  height: 32px;
}

.textComprarButton {
  color: var(--color-background);
  font-size: var(--font-size-md); 
  font-weight: bold;
}

.areaAdicionar {
  display: flex;
  justify-content: flex-end;
}

#adicionarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.2rem;
  padding-inline: 1.3rem;
  padding-block: 0.4rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
}

#comprarButton,
#adicionarButton {
  width: 190px;
}

#adicionarButton p {
  white-space: nowrap;
}

#imgShopping {
  width: 14px;
  height: 14px;
}

.addCart {
  color: var(--color-background);
  font-size: var(--font-size-xs); 
}

.info-loja {
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}

#areaLogoLoja {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#areaNomeLoja {
  color: var(--color-primary);
}

#areaTipoLoja {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#imgLogoLoja {
  width: 70px;
  height: 70px;
}

.tipoLoja {
  border: 1px solid var(--color-green);
  padding: 0.3rem;
  border-radius: 5px;
}

.tipoLoja p {
  color: var(--color-primary);
  font-size: var(--font-size-sm); 
  font-weight: bold;
}

.contato-artesao {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.contato-artesao p {
  text-align: center;
  font-size: var(--font-size-md); 
  margin-block: 0.5rem;
}

#chatButton {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
  margin: auto;
  padding-inline: 1rem;
  padding-block: 0.2rem;

  background-color: var(--color-background);
  border: 1px solid var(--color-gold);
  border-radius: 5px;
  width: fit-content;
  font-weight: bolder;
}
#chatButton p {
  color: var(--color-gold);
  font-size: var(--font-size-md); 
}

#chatButton img {
  width: 15px;
  height: 15px;
}



.drop-content p {
  font-size: var(--font-size-md); 
}

h3,h4{
  margin: 0;
}
.title-variante-mb{
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-primary-dark);
}


/* botões quando desabilitados */
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.product-unavailable {
  background-color: #fff3cd;
  color: #664d03;
  border: 1px solid #ffeeba;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: 500;
  margin-bottom: 16px;
  font-size: var(--font-size-xs);
}


.product-main-info {
  min-height: 260px;
  display: flex;
 
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
}
.area-variante {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.title-variante {
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--color-primary-dark);
}

/* Container das variantes */
.variant-selector {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}


.variant-card {
  width: 90px;          
  height: 90px;           
  object-fit: cover;
  border: 3px solid transparent; 
  border-radius: 6px;    
  cursor: pointer;
  transition: border-color 0.2s;
  overflow: hidden;
  display: block;
}


.variant-card:hover,
.variant-card.active {
  border-color: var(--color-primary) !important; 
}


.variant-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.variant-card.disabled {
  opacity: 0.4;
  pointer-events: none;
  filter: grayscale(1);
}

.product-reviews {
  margin-top: 2rem;
}

.review-form textarea {
  width: 100%;
  min-height: 100px;
  font-size: var(--font-size-sm);
  margin-block: .5rem;
}

.review-item {
  border-bottom: 1px solid #ddd;
  padding-block: .75rem;
}

.text-warning {
  color: #cdaa36 !important;  
}

.title-area-review,.dropTitle  {
  font-size: var(--font-size-md);
  font-weight: bold;
  color: var(--color-primary-dark);
  margin-bottom: 1rem;
  }
  .text-main-review{
    font-size: var(--font-size-sm);
    color: var(--color-primary-dark); 
  }

  .btn-avaliar{
    color: var(--color-primary-dark);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    background-color: var(--color-background);
    border-radius: 8px;

    font-size: var(--font-size-sm);
  }
  .btn-avaliar:hover{
    background-color: var(--color-primary-light);
  }
  .btn-enviar-modal{
    background-color: var(--color-green);
    color: var(--color-background);

  }
  

  .btn-cancelar{
    text-decoration: none;
  }

  .btn-read-more{
    border: solid 1px var(--color-primary-dark);
    color: var(--color-primary-dark);
  }
  .btn-read-more:hover{
    border: solid 1px var(--color-primary);
    color: var(--color-primary);
  }

  .review-verified {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    font-size: 0.75rem;
    font-weight: 600;

    color:var(--color-green-dark);
    background-color: #e8f5e9;

    padding: 2px 6px;
    border-radius: 12px;

    margin-left: 6px;
  }

  .review-verified::before {
      content: "✔";
      font-size: 0.75rem;
  }
  
.review-avatar {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

  
  

.mobile-only { 
  display: block; 
}
.desktop-only { 
  display: none; 
}


@media screen and (min-width: 1024px) {
  .mobile-only { display: none; }
  .desktop-only { display: block;}

  .desktop-div-colunas {
    display: grid;
    grid-template-columns: minmax(300px, 350px) 1fr 300px;
    gap: 1.5rem; 

    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;

    box-sizing: border-box;

    
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    background-color: var(--color-background);
    border-radius: 8px;
  }
   #more-datails{
    max-width: 1200px;
    margin: 0 auto;


    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    background-color: var(--color-background);
    border-radius: 8px;

    margin-top: 1rem;
    padding: 1rem;
  }

  /* Coluna 1: Galeria */
  .desktop-gallery {
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-image-wrapper {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  }

  .main-image {
    width: 100%;
    height: auto; 
    max-height: 450px; 
    object-fit: contain;
    display: block;
    padding-block: 1rem;
  }
  .icons-gallery {
      display: flex;
      gap: 0.5rem;
  }
  .icons-gallery .icon-favorite{
    width: 20px;
    
  }
  .icon-favorite:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    content: url("/static/media/icons/favoriteHover.svg");
  }
 
  .icons-gallery .icon-search{
    width: 25px;
  }
  .icon-favorite, .icon-search{
    cursor: pointer;
  }

  .thumbnail-list {
    display: flex;
    gap: 0.8rem;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: border-color 0.2s;
  }

  .thumbnail:hover,
  .thumbnail.active {
    border-color: var(--color-primary);
  }

  /* Coluna 2: Informações do Produto */
  .desktop-product-info {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    
   
  }
  

  .product-title {
    font-size: var(--font-size-xl);
    font-weight: bold;
    color: var(--color-primary-dark);
    margin-bottom: 0.5rem;
  }

  .description-product {
  font-size: var(--font-size-md);
  line-height: 1.5;
  color: var(--color-gray-dark);
  
  position: relative;
   white-space: normal;
  overflow-wrap: anywhere;   
  word-break: break-word; 
}

/* Truncamento em até 5 linhas */
  .description-product:not(.expanded) {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
  }


  .btn-see-more {
    display: block;
    background: none;
    border: none;
    color: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin-left: 0.3rem;
    text-decoration: underline;
    font-size: var(--font-size-xs);
    margin-bottom: 1rem;
  }
  .btn-see-more:hover {
    color: var(--color-primary-dark);
  }


  .car {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #f8f9fa;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: var(--font-size-sm);
     margin-bottom: 1rem;
  }

  .car img {
    width: 16px;
    height: 16px;
  }

  /* Coluna 3: Sidebar (Preço + Vendedor) */
  .desktop-sidebar {
    width: 100%; 
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 0;
  }
  

  /* Card de Preço */
  .price-card {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.111);
    
  }
  .price-row{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem
  }

  .price-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .price-header .label {
    font-size: var(--font-size-sm);
    color: var(--color-gray);
  }

  .price-header .value {
    font-size: var(--font-size-3xl);
    font-weight: bold;
    color: var(--color-primary-dark);
  }
  .area-quantity{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    
    
  }

  .quantity-selector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin: 1rem 0;
  }
  .current-price{
    font-size: var(--font-size-2xl);
    font-weight: bold;
  }

  .qty-btn {
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-gray-light);
    background: #F5F5F5;
    color: var(--color-primary);
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:  0 0 0 0.25rem color-mix(in srgb, var(--color-primary) 25%, transparent);
    transition: 0.2s ease;

  }

  .qty-input {
    width: 40px;
    text-align: center;
    padding: 0;
    border: 1px solid var(--color-gray-light);
    border-radius: 4px;
  }

  .btn-buy,
  .btn-add-cart {
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: var(--font-size-md);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .btn-buy {
    background-color: var(--color-green);
    color: white;
  }

  .btn-add-cart {
    background-color: var(--color-primary);
    color: white;
  }
  .img-btn-cart{
    width: 15px;
  }
  /* Card do Vendedor */
  .seller-card {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.129);
  }
  .store-name{
    color: var(--color-primary);
    
  }
  .personalization{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    gap: 0.5rem;
  }
   .store-header{
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  .store-logo{
    width: 70px;
  }
  .seller-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

 
  .seller-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .seller-name h3 {
    margin: 0;
    font-size: var(--font-size-lg);
    color: var(--color-primary);
  }

  .seller-name p {
    margin: 0;
    font-size: var(--font-size-sm);
    color: var(--color-gray);
  }

  .seller-desc {
    font-size: var(--font-size-sm);
    color: var(--color-gray);
    margin-bottom: 1rem;
  }

  .btn-chat {
    width: 100%;
    padding: 0.6rem 1rem;
    background: white;
    border: 1px solid var(--color-gold);
    color: var(--color-gold);
    font-weight: bold;
    border-radius: 6px;
    font-size: var(--font-size-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  .btn-chat img {
    width: 14px;
    height: 14px;
  }

  /* removendo spin buttons */
  /* Remove spin buttons em WebKit/Blink (Chrome, Edge, Safari) */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Remove spin buttons em Firefox */
  input[type="number"] {
      -moz-appearance: textfield;
  }

  .area-review {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    background-color: var(--color-background);
    border-radius: 8px;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .title-area-review,.dropTitle  {
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--color-primary-dark);
  margin-bottom: 1rem;
  }
  .text-main-review{
    font-size: var(--font-size-lg);
    color: var(--color-primary-dark); 
  }

  .btn-avaliar{
    font-size: var(--font-size-md);
  }


  
  .area-on-demand {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .on-demand-label {
    display: inline-block;
    padding: 6px 12px;
    border-radius: .375rem; 
    background-color: #fff3cd; 
    color: #664d03;
    font-size: .875rem;
    font-weight: 500;
    border: 1px solid #ffecb5;
  }

  
}


@media screen and (max-width: 425px) {

  main{
    padding-inline: 0.5rem;
  }

  .arrow {
    width: 26px;
    height: 26px;
  }

  h2 {
    font-size: var(--font-size-2xl); 
    text-align: center;

    color: var(--color-primary-dark);
  }

  .textAcessorio {
    font-size: var(--font-size-lg); 
  }

  #comprarButton,
  #adicionarButton {
    width: 160px;
  }

  #comprarButton {
    border-radius: 8px;
  }

  .iconComprarButton {
    width: 26px;
    height: 26px;
  }

  .textPrice {
    font-size: var(--font-size-2xl); 
  }

  #adicionarButton {
    padding-inline: 0.8rem;
    justify-content: center;
  }

  .info-loja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  #areaLogoLoja {
    gap: 0.5rem;
  }

  #imgLogoLoja {
    width: 60px;
    height: 60px;
  }

  #areaNomeLoja h4 {
    font-size: var(--font-size-lg); 
    line-height: 1.1;
  }

 
  .contato-artesao p{
    font-size: var(--font-size-xs);
  }
  .tipoLoja p{
    font-size: var(--font-size-xxxs);
  }

  #chatButton p {
  color: var(--color-gold);
  font-size: var(--font-size-sm); 
  }

   .areaPriceOff p, .textPriceRick
   {

    font-size: var(--font-size-sm);
  }


}


@media screen and (max-width: 375px) {
 
  h2 {
    font-size: var(--font-size-xl); 
  }

  #comprarButton, #adicionarButton{
    width: 140px;
  }
  .addCart{
    font-size: var(--font-size-xxs);
  }

  
  .textPrice {
    font-size: var(--font-size-xl); 
  }

  .info-loja {
    gap: 0.4rem;
  }
  

  #areaLogoLoja {
    gap: 0.2rem;
  }

  #imgLogoLoja {
    width: 50px;
    height: 50px;
  }

  #areaNomeLoja h4 {
    font-size: var(--font-size-md); 
    line-height: 1.1;
  }

  #areaNomeLoja p {
    font-size: var(--font-size-xxs); 
    line-height: 1;
  }

  #areaTipoLoja {
    gap: 0.4rem;
  }

  .tipoLoja {
    padding: 0.15rem 0.35rem;
    border-radius: 4px;
  }

  
 

  .contato-artesao {
    gap: 0.6rem;
  }

 

  #chatButton {
    gap: 0.35rem;
    padding-inline: 0.7rem;
    padding-block: 0.18rem;
  }

  #chatButton img {
    width: 13px;
    height: 13px;
  }

  #chatButton p {
    font-size: var(--font-size-xs); 
  }

 
  .drop-title {
    font-size: var(--font-size-md); 
  }

  .drop-content p {
    font-size: var(--font-size-sm); 
  }
  
}

