#mainDetalheProduto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 3rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

/* carousel de produtos */
.carouselProduto {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  position: relative;
}

.carouselInner {
  position: relative;
  overflow: hidden;
}

.carouselItem {
  width: 100%;
  display: none;
}

.carouselItem.active {
  display: block;
}

#searchProduct {
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  top: 3%;
  transform: translateY(-50%);
  right: -49px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.carousel-btn.prev {
  left: -60px;
}

.carousel-btn.next {
  right: -60px;
}

.arrow {
  width: 32px;
  height: 32px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.carousel-dots img {
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.header-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.area-tag-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
}

.area-acessorio-e-favorito {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#imgHard {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#imgHard:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  content: url("/static/media/icons/favoriteHover.svg");
}

.textAcessorio {
  color: var(--color-primary-dark);
  font-size: var(--font-size-xl); 
}

.area-preco-compra {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.areaPriceButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.areaPrice {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.areaPriceOff {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.areaPriceOff p {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.3rem;
}

.textPriceRick {
  text-decoration: line-through;
  color: var(--color-gray-dark);
  font-size: var(--font-size-md); 
}

.textPrice {
  font-weight: bold;
  font-size: var(--font-size-3xl); 
}

#comprarButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green);
  padding-block: 1.2rem;
  padding-inline: 1.8rem;
  border: none;
  border-radius: 10px;
}

.iconComprarButton {
  width: 32px;
  height: 32px;
}

.textComprarButton {
  color: var(--color-background);
  font-size: var(--font-size-md); 
  font-weight: bold;
}

.areaAdicionar {
  display: flex;
  justify-content: flex-end;
}

#adicionarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.2rem;
  padding-inline: 1.3rem;
  padding-block: 0.4rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
}

#comprarButton,
#adicionarButton {
  width: 190px;
}

#adicionarButton p {
  white-space: nowrap;
}

#imgShopping {
  width: 14px;
  height: 14px;
}

.addCart {
  color: var(--color-background);
  font-size: var(--font-size-p-small); 
}

.info-loja {
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}

#areaLogoLoja {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#areaNomeLoja {
  color: var(--color-primary);
}

#areaTipoLoja {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#imgLogoLoja {
  width: 70px;
  height: 70px;
}

.tipoLoja {
  border: 1px solid var(--color-green);
  padding: 0.3rem;
  border-radius: 5px;
}

.tipoLoja p {
  color: var(--color-primary);
  font-size: var(--font-size-p-small); 
  font-weight: bold;
}

.contato-artesao {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contato-artesao p {
  text-align: center;
  font-size: var(--font-size-md); 
  margin-block: 0.5rem;
}

#chatButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: auto;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  background-color: var(--color-background);
  border: 1px solid var(--color-gold);
  border-radius: 5px;
  width: fit-content;
}

#chatButton p {
  color: var(--color-gold);
  font-size: var(--font-size-md); 
}

#chatButton img {
  width: 15px;
  height: 15px;
}


.drop-title {
  font-size: var(--font-size-xl); 
  font-weight: 600;
}

.drop-content p {
  font-size: var(--font-size-md); 
}

h3,h4{
  margin: 0;
}

.mobile-only { 
  display: block; 
}
.desktop-only { 
  display: none; 
}


@media screen and (min-width: 1024px) {
  .mobile-only { display: none; }
  .desktop-only { display: block; }

  .desktop-div-colunas {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  #more-datails{
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Coluna 1: Galeria */
  .desktop-gallery {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-image-wrapper {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  }

  .main-image {
    width: 100%;
    height: 400px;
    object-fit: contain;
    display: block;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.075);
     padding-block: 1rem;
  }
  .icons-gallery {
      display: flex;
      gap: 0.5rem;
  }
  .icons-gallery .icon-favorite{
    width: 20px;
    
  }
  .icon-favorite:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    content: url("/static/media/icons/favoriteHover.svg");
  }
 
  .icons-gallery .icon-search{
    width: 25px;
  }
  .icon-favorite, .icon-search{
    cursor: pointer;
  }

  .thumbnail-list {
    display: flex;
    gap: 0.8rem;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: border-color 0.2s;
  }

  .thumbnail:hover,
  .thumbnail.active {
    border-color: var(--color-primary);
  }

  /* Coluna 2: Informações do Produto */
  .desktop-product-info {
    flex: 1;
    min-width: 300px;
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  }
  

  .product-title {
    font-size: var(--font-size-xl);
    font-weight: bold;
    color: var(--color-primary-dark);
    margin-bottom: 0.5rem;
  }

  .description-product {
  font-size: var(--font-size-md);
  line-height: 1.5;
  color: var(--color-gray-dark);
  
  position: relative;
}

/* Truncamento em até 5 linhas */
  .description-product:not(.expanded) {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
  }


  .btn-see-more {
    display: block;
    background: none;
    border: none;
    color: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin-left: 0.3rem;
    text-decoration: underline;
    font-size: var(--font-size-sm);
    margin-bottom: 1rem;
  }
  .btn-see-more:hover {
    color: var(--color-primary-dark);
  }


  .car {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #f8f9fa;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: var(--font-size-sm);
     margin-bottom: 1rem;
  }

  .car img {
    width: 16px;
    height: 16px;
  }

  /* Coluna 3: Sidebar (Preço + Vendedor) */
  .desktop-sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .desktop-car{
    margin-block: 1rem;
  }

  /* Card de Preço */
  .price-card {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.129);
    
  }
  .price-row{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem
  }

  .price-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .price-header .label {
    font-size: var(--font-size-sm);
    color: var(--color-gray);
  }

  .price-header .value {
    font-size: var(--font-size-3xl);
    font-weight: bold;
    color: var(--color-primary-dark);
  }
  .area-quantity{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    
    
  }

  .quantity-selector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin: 1rem 0;
  }
  .current-price{
    font-size: var(--font-size-2xl);
    font-weight: bold;
  }

  .qty-btn {
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-gray-light);
    background: #F5F5F5;
    color: var(--color-primary);
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:  0 0 0 0.25rem color-mix(in srgb, var(--color-primary) 25%, transparent);
    transition: 0.2s ease;

  }

  .qty-input {
    width: 40px;
    text-align: center;
    padding: 0;
    border: 1px solid var(--color-gray-light);
    border-radius: 4px;
  }

  .btn-buy,
  .btn-add-cart {
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: var(--font-size-md);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .btn-buy {
    background-color: var(--color-green);
    color: white;
  }

  .btn-add-cart {
    background-color: var(--color-primary);
    color: white;
  }
  .img-btn-cart{
    width: 15px;
  }
  /* Card do Vendedor */
  .seller-card {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.129);
  }
  .store-name{
    color: var(--color-primary);
    
  }
  .personalization{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    gap: 0.5rem;
  }
   .store-header{
    display: flex;
  }

  .seller-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

 
  .seller-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .seller-name h3 {
    margin: 0;
    font-size: var(--font-size-lg);
    color: var(--color-primary);
  }

  .seller-name p {
    margin: 0;
    font-size: var(--font-size-sm);
    color: var(--color-gray);
  }

  .seller-desc {
    font-size: var(--font-size-sm);
    color: var(--color-gray);
    margin-bottom: 1rem;
  }

  .btn-chat {
    width: 100%;
    padding: 0.6rem 1rem;
    background: white;
    border: 1px solid var(--color-gold);
    color: var(--color-gold);
    border-radius: 6px;
    font-size: var(--font-size-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  .btn-chat img {
    width: 14px;
    height: 14px;
  }

  /* removendo spin buttons */
  /* Remove spin buttons em WebKit/Blink (Chrome, Edge, Safari) */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Remove spin buttons em Firefox */
  input[type="number"] {
      -moz-appearance: textfield;
  }
}


@media screen and (max-width: 425px) {
  #mainDetalheProduto {
    padding: 0.5rem;
  }

  .carouselProduto {
    max-width: 200px;
  }

  #searchProduct {
    right: -35px;
    width: 26px;
    height: 26px;
  }

  .carousel-btn.prev {
    left: -40px;
  }

  .carousel-btn.next {
    right: -40px;
  }

  .arrow {
    width: 26px;
    height: 26px;
  }

  h2 {
    font-size: var(--font-size-2xl); 
    text-align: center;
  }

  .textAcessorio {
    font-size: var(--font-size-lg); 
  }

  #comprarButton,
  #adicionarButton {
    width: 160px;
  }

  #comprarButton {
    border-radius: 8px;
  }

  .iconComprarButton {
    width: 26px;
    height: 26px;
  }

  .textPrice {
    font-size: var(--font-size-2xl); 
  }

  #adicionarButton {
    padding-inline: 0.8rem;
    justify-content: center;
  }

  .info-loja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  #areaLogoLoja {
    gap: 0.5rem;
  }

  #imgLogoLoja {
    width: 60px;
    height: 60px;
  }

  #areaNomeLoja h4 {
    font-size: var(--font-size-lg); 
    line-height: 1.1;
  }

 
  .drop-title {
    font-size: var(--font-size-lg); 
  }
  .contato-artesao p{
    font-size: var(--font-size-sm);
  }
}


@media screen and (max-width: 375px) {
  h2 {
    font-size: var(--font-size-xl); 
  }

  .areaPriceOff p,
  .textPriceRick {
    font-size: var(--font-size-xs); 
    line-height: 1.2;
    white-space: nowrap;
  }

  .textPrice {
    font-size: var(--font-size-xl); 
  }

  .info-loja {
    gap: 0.4rem;
  }
  

  #areaLogoLoja {
    gap: 0.2rem;
  }

  #imgLogoLoja {
    width: 50px;
    height: 50px;
  }

  #areaNomeLoja h4 {
    font-size: var(--font-size-md); 
    line-height: 1.1;
  }

  #areaNomeLoja p {
    font-size: var(--font-size-sm); 
    line-height: 1;
  }

  #areaTipoLoja {
    gap: 0.4rem;
  }

  .tipoLoja {
    padding: 0.15rem 0.35rem;
    border-radius: 4px;
  }
  .tipoLoja p{
    font-size: var(--font-size-xxs);
  }
  .tipoLoja p{
    font-size: var(--font-size-xxxs);
  }

 

  .contato-artesao {
    gap: 0.6rem;
  }

  .contato-artesao p {
    font-size: var(--font-size-sm); 
    text-align: center;
  }

  #chatButton {
    gap: 0.35rem;
    padding-inline: 0.7rem;
    padding-block: 0.18rem;
  }

  #chatButton img {
    width: 13px;
    height: 13px;
  }

  #chatButton p {
    font-size: var(--font-size-xs); 
  }

 
  .drop-title {
    font-size: var(--font-size-md); 
  }

  .drop-content p {
    font-size: var(--font-size-sm); 
  }
  
}


