#mainDetalheProduto{
  padding: 4rem;
  display: grid;
  gap: 1rem;
 
}

/* carousel de produtos */

.carouselProduto {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

#searchProduct{
  width: 32px;
  height: 32px;
  cursor: pointer;
  

  
}


.carouselInner {
    position: relative;
    overflow: hidden;
}

.carouselItem {
    width: 100%;
    display: none;
}

.carouselItem.active {
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.carousel-btn.prev {
    left: -40px;
}

.carousel-btn.next {
    right: -40px;
}

.arrow {
    width: 28px;
    height: 28px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.carousel-dots img {
    width: 11px;
    height: 11px;
    cursor: pointer;
}

/* Para cada area  */

/* Area A */
.areaA{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Area C */

.areaC{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#imgHard{
  width: 24px;
  height: 24px;
  cursor: pointer;
}
#imgHard:hover{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  content: url("/static/media/icons/favoriteHover.svg");
}
.textAcessorio{
  color: var(--color-primary-dark);
}


/* Area D */
.areaD{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.areaPriceButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.areaPrice{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.areaPriceOff{
  display: flex;
  gap: 0.5rem;
}
.textPriceRick{
  text-decoration: line-through;
  color: var(--color-gray-dark);

}
.textPrice{
  font-weight: bold;
  font-size: 1.5em;
}

#comprarButton{
  background-color: #81BB29;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-block: 1.5rem;
  padding-inline: 1.8rem;
  border: none;
  border-radius: 10px;
}

.iconComprarButton{
  width: 32px;
  height: 32px;
}

.textComprarButton{
  color: var(--color-background);
  font-size: calc(1rem + .5vw);
  font-weight: bold;
}

.areaAdicionar{
  display: flex;
  justify-content: flex-end;
}

#adicionarButton{
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.2rem;
  padding-inline: 1.3rem;
  padding-block: 0.5rem;

  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
}


#imgShopping{
  width: 14px;
  height: 14px;
}
.addCart{
  color: var(--color-background);
  font-size: var(--font-size-p-small);
  
}


@media screen and (max-width: 425px){
  #mainDetalheProduto{
    padding: 1rem;
 }
}