#navbar-container{
  display: none;
}


.section-title {
  font-size: var(--font-size-md);
  text-align: start;
  margin: 0;
  color: var(--color-hover);
}


.area-title-searchbar{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
  padding-inline:0.8rem;
 

}
.icon-search{
  width: 18px;
}

.products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  padding-inline: 0.8rem;
}

@media (max-width: 320px){
 
  .category-btn{
    padding: 0.2rem 0.5rem;
  }

  .products-list {
    gap: 1.2rem;
  }
  #search{
  width: 16px;
  height: 16px;
  }

  .category-btn {
    font-size: var(--font-size-xxs);
    padding: 0.5rem 1rem;
  }
  .title-clear{
   padding-inline-end:0;
  }

}

@media (min-width: 768px) {
  

  .category-btn {
    font-size: var(--font-size-dm);
    padding: 0.75rem 1.25rem;
  }
  .clear-btn{
    font-size: var(--font-size-xs);
  }

  .section-title {
    font-size: var(--font-size-xl);
  }


}


@media (min-width: 1024px) {
  
  .product-list {
    max-width: 1000px;
    margin: 0 auto;
   
  }
  .section-title {
  font-size: var(--font-size-2xl);
  }

  #search{
    width: 30px;
    height: 30px;
  }

  .category-btn {
    font-size: 1.1rem;
    padding: 0.85rem 1.5rem;
  }

  .clear-btn{
    font-size: var(--font-size-sm);
  }
  

  

  .footer {
    font-size: 0.9rem;
  }
}