#navbar-container{
  display: none;
}


.section-title {
  font-size: var(--font-size-md);
  text-align: start;
  margin: 0;
  color: var(--color-hover);
}


.area-title-searchbar{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
  padding-inline:0.8rem;
 

}


.products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  padding-inline: 0.8rem;
}

@media (max-width: 320px){
 

  .products-list {
    gap: 1.2rem;
  }
 

  

}

@media (min-width: 768px) {
  

  .category-btn {
    font-size: var(--font-size-sm);
    padding: 0.75rem 1.25rem;
  }
 

  .section-title {
    font-size: var(--font-size-xl);
  }


}


@media (min-width: 1024px) {
  
  .product-list {
    max-width: 1000px;
    margin: 0 auto;
   
  }
  .section-title {
  font-size: var(--font-size-2xl);
  }



  .footer {
    font-size: 0.9rem;
  }
}