body {
      background-color: #FAF8F5 !important;
    }
.product-info-section {
        width: 80%; 
        padding: 20px;  
        border-radius: 8px;
        margin: auto;
        margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 5, 0.1);
    }
.upload-container {
        margin: 20px 0;
  width: 100%;
}

h1 {
    color: #000  !important;
}

.upload-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d47a00;
  background-color: #fff9f5;
  border-radius: 10px;
  padding: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-box:hover {
  background-color: #fff3ea;
  border-color: #b65f00;
}

.upload-content {
  text-align: center;
  color: #a14d00;
}

.upload-content svg {
  fill: #a14d00;
  margin-bottom: 8px;
}

.upload-content p {
  font-size: 16px;
  margin: 0;
}

.upload-box input[type="file"] {
  display: none;
}
.attribute-form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.attribute-form button{
  align-self: flex-start;
}
.inputs-row {
  display: grid;
  grid-template-columns: minmax(200px, auto) minmax(200px, 1fr);
  gap: 8px;
}

.transition-box {
  display: none;
  overflow: hidden;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height .35s ease, opacity .35s ease;
}
.transition-box.open {
  display: block;
  opacity: 1;
  visibility: visible;
}

.attribute-info{
  border: 1px solid #E8E8E8;
  border-radius: 8px;
  padding: 12px;
  margin: 8px 0;
  display: grid;
  grid-template-columns: 1fr auto;
}
.attribute-info p{
  margin: 0;
  align-self: center;
}
.text-danger{
  color: #dc3545;
  opacity: 0.9;
  margin: -12px 0px 0px 0px;
}

@media (max-width: 650px) {
  .inputs-row {
    grid-template-columns: 1fr; /* uma coluna só */
  }
  section{
    width: 95%;
  }
}