#navbar-container{
  display: none;
}

#searchProduct{
  width: 100%;

}


.textResult{
  font-size: var(--font-size-sm);
  margin-bottom: 1.5rem;
}



  #areaResultsCards {
   display: flex;
   flex-flow: row wrap;
   gap: 2rem;
  }


@media (max-width: 320px) {
  

  .textResult {
    font-size: var(--font-size-xs);
  }
}




@media (min-width: 768px) {
 
  #areaFilter {
    gap: 1rem;
  }
   

  .textResult {
    font-size: var(--font-size-dm);
  }

  
}


@media (min-width: 1024px) {
  #searchProduct {
    max-width: 1000px;
    margin: 0 auto;
  
  }

  
  

  .textResult {
    font-size: var(--font-size-lg);
  }


  
}

