#navbar-container{
  display: none;
}

#searchProduct{
  width: 100%;

}

.categories {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

.category-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-size: var(--font-size-xs);
  cursor: pointer;
  transition: all 0.2s ease;

  background-color: var(--color-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--color-hover);
}

.category-btn.active {
  background: var(--color-surface);
}


.textResult{
  font-size: var(--font-size-sm);
  margin-bottom: 1.5rem;
}



  #areaResultsCards {
   display: flex;
   flex-flow: row wrap;
   gap: 2rem;
  }


@media (max-width: 320px) {
  
   .category-btn {
    font-size: var(--font-size-xxs);
    padding: 0.5rem 1rem;
  }
   #search{
    width: 16px;
    height: 16px;
  }

  .textResult {
    font-size: var(--font-size-xs);
  }
}




@media (min-width: 768px) {
 
  #areaFilter {
    gap: 1rem;
  }
   

  .textResult {
    font-size: var(--font-size-dm);
  }

  
}


@media (min-width: 1024px) {
  #searchProduct {
    max-width: 1200px;
    margin: 0 auto;
  
  }

  .category-btn {
    font-size: 1.1rem;
    padding: 0.85rem 1.5rem;
  } 
  

  #search{
    width: 30px;
    height: 30px;
  }
  .textResult {
    font-size: var(--font-size-lg);
  }


  
}

