#navbar-container{
  display: none;
}

#search-product{
  width: 100%;

}
.area-categories-textResult{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.textResult{
  font-size: var(--font-size-sm);
  margin-bottom: 1.5rem;
}

.categories{
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

#areaResultsCards {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}


@media (max-width: 320px) {
  
  .textResult {
    font-size: var(--font-size-xs);
  }

  
}




@media (min-width: 768px) {
 
  #areaFilter {
    gap: 1rem;
  }
  .categories{
    gap: 0.5rem;
  }
   

  .textResult {
    font-size: var(--font-size-dm);
  }

  
}


@media (min-width: 1024px) {
  #search-product {
    max-width: 1000px;
    margin: 0 auto;
  
  }



  
}

