#navbar-container{
  display: none;
}

#search-product{
  width: 100%;

}
.area-categories-textResult{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.textResult{
  font-size: var(--font-size-sm);
  margin-bottom: 1.5rem;
}

.categories{
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

#areaResultsCards {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}



.pagination .page-link {
  color: var(--color-primary-dark);    
  background-color: var(--color-background); 
  border: 1px solid var(--color-primary-dark); 
  transition: all 0.3s ease;
}


.pagination .page-link:hover {
  color: #fff;
  background-color: var(--color-primary-dark); 
  border-color: var(--color-primary-dark);
}


.pagination .page-item.active .page-link {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: #fff;
  font-weight: 600;
}


.pagination .page-item.disabled .page-link {
  color: #ccc;
  background-color: #f8f8f8;
  border-color: #ddd;
}


.pagination {
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}



@media (max-width: 425px){
  main{
    padding-inline: 1.5rem;
  }
}

@media (max-width: 400px) {
  
  .textResult {
    font-size: var(--font-size-xs);
  }
  main{
    padding-inline: .5rem;
  }
  #areaResultsCards{
    justify-content: center;
  }
  
}


@media (min-width: 768px) {
 
  #areaFilter {
    gap: 1rem;
  }
  .categories{
    gap: 0.5rem;
  }
   

  .textResult {
    font-size: var(--font-size-dm);
  }

  
}


@media (min-width: 1024px) {
  #search-product {
    max-width: 1000px;
    margin: 0 auto;
  
  }



  
}

