{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Produtos{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'stores/css/dashboard.css' %}" />
  <link rel="stylesheet" href="{% static 'stores/css/products.css' %}" />
{% endblock %}

{% block main %}
  <div style="padding: 20px 40px; margin-bottom: 100px;">
    
    {% include 'stores/partials/_dashboard_nav.html' with active_page='products' %}

    <div class="products-table-container">
        
        <div class="table-header table-grid-template">
            <div>Nome do Produto</div>
            <!-- <div>Categoria</div> -->
            <div>Preço</div>
            <div>Estoque</div>
            <div>Status</div>
            <div style="text-align: right;">Ações</div>
        </div>
        
        {% for product in products %}
          {% include 'stores/partials/_product_table_row.html' with name=product.name price=product.min_price stock=product.min_stock status=product.is_active image=product.image product_id=product.product_id store_id=store.store_id %}
        {% endfor %}
        
        <div class='m-3'>
          <a class='btn btn-primary' href='/products/register/'>
            Adicionar Produto
          </a>
        </div>
    </div>
</div>
{% endblock %}
