{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Pedidos{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'stores/css/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'stores/css/orders.css' %}" />
{% endblock %}

{% block main %}
<div style="padding: 20px 40px; margin-bottom: 100px;">
    
    {% include 'stores/partials/_dashboard_nav.html' with active_page='orders' %}

    <div class="orders-table-container">
        
        <!-- Cabeçalho da Tabela (Atualizado para 6 colunas) -->
        <div class="order-table-header order-grid-template">
            <div>Pedido</div> <!-- Agora inclui data visualmente abaixo -->
            <div>Cliente</div>
            <div>Pagamento</div>
            <div>Envio</div>
            <div>Total</div>
            <div style="text-align: right;">Ações</div>
        </div>

        {% for order in orders %}
            {% include 'stores/partials/_order_table_row.html' %}
        {% empty %}
            <p>Nenhum pedido encontrado.</p>
        {% endfor %}


    </div>

</div>
{% endblock %}