{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Pedidos{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'stores/css/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'stores/css/orders.css' %}" />
{% endblock %}

{% block main %}
<div style="padding: 20px 40px; margin-bottom: 100px;">
    
    {% include 'stores/partials/_dashboard_nav.html' with active_page='orders' %}

    <div class="orders-table-container">
        
        <!-- Cabeçalho da Tabela (Atualizado para 6 colunas) -->
        <div class="order-table-header order-grid-template">
            <div>Pedido</div> <!-- Agora inclui data visualmente abaixo -->
            <div>Cliente</div>
            <div>Status</div>
            <div>Envio</div>
            <div>Total</div>
            <div style="text-align: right;">Ações</div>
        </div>

        {% for order in orders_page %}
            {% include 'stores/partials/_order_table_row.html' with store=store order=order %}
        {% empty %}
            <p class="not-exist">Nenhum pedido encontrado.</p>
        {% endfor %}

        {% if orders_page.paginator.num_pages > 1 %}
            <div class="d-flex justify-content-center mt-5">
                <nav aria-label="Paginação de pedidos">
                    <ul class="pagination">

                    <!-- Anterior -->
                    <li class="page-item {% if not orders_page.has_previous %}disabled{% endif %}">
                        {% if orders_page.has_previous %}
                        <a class="page-link" href="?page={{ orders_page.previous_page_number }}">
                            Anterior
                        </a>
                        {% else %}
                        <span class="page-link">Anterior</span>
                        {% endif %}
                    </li>

                    <!-- Números -->
                    {% for num in orders_page.paginator.page_range %}
                        <li class="page-item {% if orders_page.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">
                            {{ num }}
                        </a>
                        </li>
                    {% endfor %}

                    <!-- Próximo -->
                    <li class="page-item {% if not orders_page.has_next %}disabled{% endif %}">
                        {% if orders_page.has_next %}
                        <a class="page-link" href="?page={{ orders_page.next_page_number }}">
                            Próximo
                        </a>
                        {% else %}
                        <span class="page-link">Próximo</span>
                        {% endif %}
                    </li>

                    </ul>
                </nav>
            </div>
        {% endif %}



        </div>

</div>
{% endblock %}