{% extends "shared/base.html" %}
{%load static %}
{% block title %}Store Profile{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'stores/css/storeProfile.css' %}">
{% endblock style %}

{% block main %}
<section id="loja">
 
    <div class="loja-banner-wrapper">
      <img 
        src="{% static 'stores/media/banner.jpg' %}" 
        alt="Banner da loja"
        class="loja-banner-img"
      >
      <img 
        src="{% static 'stores/media/logoLoja.jpg' %}" 
        alt="Logo da loja"
        class="loja-logo-overlay"
      >
    </div>

    <div>
      <h2>Val Laços </h2>
      <p>Princesa Estilosa</p>
    </div>

    <div class="trabalhos">
      <div>
        <p>Acessórios</p>
      </div>
      <div>
        <p>Moda infantil</p>
      </div>

    </div>

    <ul>     
      <li> 🎀 Acessórios artesanais para meninas e mulheres</li>
      <li>✨ Feitos com amor, pensados com carinho </li>
      <li>👧 Especial atenção ao universo infantil </li>
      <li> 🎁 Cada peça é um presente</li>
    </ul>
    
    <div>
       {% include 'products/partials/card.html' with url='media/kit_vermelho.png' description='Kit Vermelho' price='R$ 50,00' FreteGratis=True favor=True %}

       {% include 'products/partials/card.html' with url='media/tiara_roxa.png' description='Tiara Roxa' off=True text=30 price='R$ 21,00' envioRapido=True favor=True%}

        {% include 'products/partials/card.html' with url='media/faixinhas_rosas.png' description='Faixinhas Rosas'  price='R$ 44,00' envioRapido=True favor=True %}

        
    </div>
</section>






{% endblock%}