#chat-icon {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    bottom: 1.5rem;   
    right: 1.5rem;  
    width: 60px;
    height: 60px;
}

#chat-icon:hover {
    transform: translateY(-5px);
}

#chat-icon:active {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% { 
      transform: translateX(0) translateY(-5px);
     }
    25% { 
      transform: translateX(-5px) translateY(-5px); 
    }
    50% { 
      transform: translateX(5px) translateY(-5px);
     }
    75% { 
      transform: translateX(-5px) translateY(-5px); 
    }
    100% { 
      transform: translateX(0) translateY(-5px); 
    }
}