{% extends "shared/base.html" %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'chats/css/chats.css' %}">
{% endblock %}

{% block main %}
    <!-- Conteiner Principal -->
    <div class="chat-container d-flex h-100 w-100">
        {% include "chats/partials/list.html" %}
        <section class="chat-area h-100 w-100 d-flex flex-column text-center align-items-center justify-content-center">
            <h2 class="h2Index mt-5" style="color: var(--color-primary);">Selecione um chat</h2>
        </section>
    </div>

    {% endblock main %}

{% block scripts %}
{% comment %} <script src="{% static 'chats/js/chats.js' %}"></script> {% endcomment %}
<script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/ws.js"></script>
{% endblock scripts %}