{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Carrinho{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'orders/css/shared/shopping_cart.css' %}" >
{% endblock %}
 
{% block main %}
  <div class="container my-5">
    <div class="row g-4">
      
      <div id="my-cart-primary" class="col-lg-8">
        <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 id="my-cart">Meu Carrinho</h2>

        {% if cart.total_items == 1 %}
          <span id="qtnd-itens" class="text-muted">{{ cart.total_items }} item</span>
        {% endif %}

        {% if cart.total_items > 1 %}
          <span id="qtnd-itens" class="text-muted">{{ cart.total_items }} itens</span>
        {% endif %}
        
      </div>

      {% if items %}
        {% for item in items %}
          <div class="cart-item-card">
            {% with item.product_variant.variantimage_set.first as v_img %}
                {% if v_img %}
                    <img src="{{ v_img.image.url }}" alt="{{ item.product_variant.product.name }}" class="cart-item-image" />
                {% else %}
                    <img src="/static/img/no-image.png" class="cart-item-image" />
                {% endif %}
            {% endwith %}

            <div class="cart-item-info">
              <h4>{{ item.product_variant.product.name }}</h4>
              <p>Descrição: {{ item.product_variant.description }}</p>
              <p>Vendido por: {{ item.product_variant.product.store.name }}</p> 
          
              <div class="cart-item-price">
                <strong>R$ {{ item.price|floatformat:2 }}</strong>
              </div>
            </div>

            <div class="cart-item-actions">
              <form action="{% url 'orders:remove_item' item.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="remove">Remover</button>
              </form>

              <div class="quantity-selector">
                <button class="btn-qty" data-action="decrease">-</button>
                <!--adicionar validação da quantidade-->
                <span class="quantity-value">{{ item.quantity }}</span>
                <button class="btn-qty" data-action="increase">+</button>
              </div>
            </div>
          </div>
        {% endfor %}

      {% else %}
        <h4>Não há produtos no carrinho</h4>
      {% endif %}

      </div> 

      <div class="col-lg-4">
        <div class="summary-card">
          {% include 'orders/partials/_order_summary_card.html' %}

          <!--ver como passar os dados para transformar em pedido-->
          {% if items %}
            <a href="{% url 'orders:shipping' %}" class="btn btn-green">
                Continuar
            </a>
          {% endif %}
          <a href="{% url 'index' %}" class="btn btn-primary w-100 py-3">
              Adicionar produtos
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'orders/js/shopping_cart.js' %}"></script>
{% endblock scripts %}