.card {
  border: none;
  width: 16rem;
}


.card-body {
  padding: 0.5rem 1rem 1rem 0.5rem;
}


#areaImg {
  position: relative;
}


.img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  border-radius: 1rem;
  display: block;
}


#hard {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);

  z-index: 2;
}

#imgHard {
  width: 30px;
  height: 30px;
}
#hard:hover #imgHard {
  content: url("/static/media/icons/favoriteHover.svg");
}

#description {
  text-align: left;
  color: #454343;
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 16px;
  margin-top: 0.5rem;
}

#price {
  text-align: left;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.45px;
  line-height: 14.3px;
  margin-top: 0.3rem;
}
