.card {
  border: none;
  width: 14rem;
  
}


.card-body {
  padding: 0.5rem;
}


#areaImg {
  position: relative;
}


.img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 1rem;
  display: block;
}


#hard {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);

  z-index: 2;
}

#imgHard {
  width: 30px;
  height: 30px;
}
#hard:hover #imgHard {
  content: url("/static/media/icons/favoriteHover.svg");
}

#description {
  text-align: left;
  color: #454343;
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 16px;
  margin: 0;
}

#price {
  text-align: left;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.45px;
  line-height: 14.3px;
  margin-top: 0.3rem;
}


#areaH{
  display: flex;
  margin-bottom: 1rem;
  gap: .5rem;
  align-items: center;
  justify-content: space-between;
 
}

#off {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
 
  background-color: var(--color-primary-dark);
  border-radius: 5px;
  width: 90px;
  padding-block: 0.3rem; 
  line-height: 1; 
}
#imgRaio{
  width: 10px;

}

.car{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: auto;
  border-radius: 5px;
  width: 130px;
}

.imgCar{
  width: 25px;
}
.textTag{
  color: var(--color-background);
  margin: 0;
}

#envioRapido{
  background-color: var(--color-accent);
}

#FreteGratis{
  background-color: var(--color-green);
}

@media screen and (max-width: 425px){
  .card {
    width: 12rem;
  }

  .img {
    height: 10rem;
  }

  #imgHard {
    width: 25px;
    height: 25px;
  }

 

  
  #textOff{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 0.875em;
    white-space: nowrap; 
    
  }
 

}