{% load static %}
<div class="cart-item-card">
  <img src="{% static image_path %}" alt="{{ product_name }}" class="cart-item-image" />

  <div class="cart-item-info">
    <h4>{{ product_name }}</h4>
    <p>Vendido por: {{ store_name }}</p> 
 
    <div class="cart-item-price">
      <strong>R$ {{ price|floatformat:2 }}</strong>
    </div>
  </div>

  <div class="cart-item-actions">
    <a href="#" class="remove-link">Remover</a>

    <div class="quantity-selector">
      <button class="btn-qty" data-action="decrease">-</button>
      <!--adicionar validação da quantidade-->
      <span class="quantity-value">{{ quantity }}</span>
      <button class="btn-qty" data-action="increase">+</button>
    </div>
  </div>
</div>
