{% load static %}

<div class="col">
    {% include 'orders/partials/_order.html' with order_id='AT001234' order_date='15 de Janeiro, 2025' status='progress' %}
</div>

<div class="col">
    {% include 'orders/partials/_order.html' with order_id='AT001235' order_date='15 de Janeiro, 2025' status='delivered' %}
</div>

<div class="col">
    {% include 'orders/partials/_order.html' with order_id='AT001236' order_date='15 de Janeiro, 2025' status='delivered' %}
</div>

<div class="col">
    {% include 'orders/partials/_order.html' with order_id='AT001237' order_date='15 de Janeiro, 2025' status='cancelled' %}
</div>