{% load static %}
        
<div class="shipping-option cursor-pointer" data-method="{{ data_method }}" style="cursor: pointer;">
    <div class="d-flex align-items-center {% if selected %} selected {% endif %}">
        <input type="radio" name="payment_method" value="{{ data_method }}" {% if selected %}checked{% endif %}>
    </div>
    <div class="shipping-content">
        <div class="shipping-header">
            <span class="shipping-name">{{ form_pay }}</span>
        </div>
        <p class="shipping-description">{{ description_pay }}</p>
    </div>
</div>