<aside class='col 8 col-lg-4 gap-2 p-lg-5 p-0 m-5 d-flex flex-column gap-3'>
    <div class=''>
        <button class='btn btn-primary w-100 mb-3'>Continuar</button>
    </div>
    <p class='fs-6'>Ao fazer seu pedido, você concorda com as <span class='text-primary'>Condições de Uso</span></p>
    <div >
        <ul class='p-0'>
            <li class="row">
                <p class="col text-nowrap">Itens:</p>
                <p class="col text-nowrap text-end">R$ 27,11</p>
            </li>
            <li class="row">
                <p class="col text-nowrap ">Frete:</p>
                <p class="col text-nowrap text-end">R$ 15,99</p>
            </li>
            <li class="row">
                <p class="col text-nowrap">Subtotal:</p>
                <p class="col text-nowrap text-end">43,10</p>
            </li>
            <li class="row">
                <p class="col text-nowrap">Descontos:</p>
                <p class="col text-nowrap text-end">R$ 0,0</p>
            </li>
            <li class="row border-top border-2 mt-2 pt-2">
                <p class="col text-nowrap text-semibold text-sucesses">Preço Total:</p>
                <p class="col text-nowrap text-semibold text-sucesses text-end">43,10</p>
            </li>
        </ul>
    </div>
</aside>