{% extends 'accounts/settings.html' %}
{% load static %}

{% block content %}
<!--criar conteúdo de texto-->
<div class="border">
    {% if addresses %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Endereço</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col">CEP</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for address in addresses %}
            <tr>
                <td>{{ address.street }}, {{ address.number }}, {{ address.complement }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.state }}</td>
                <td>{{ address.zip_code }}</td>
                <td>
                    <a href="{% url 'accounts:settings_address' address.id %}" class="btn btn-sm btn-secondary">Editar</a>
                    <a href="{% url 'accounts:delete_address' address.id %}" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="fonts_artisian mb-3">Você ainda não possui endereços cadastrados.</p>
    {% endif %}

    <a class='btn btn-green mb-0' href="{% url 'accounts:addresses_register' %}">Adicionar novo endereço</a>
</div>


{% endblock %}