{% extends "shared/base.html" %} <!--Como verificar se esta puxando do base global-->
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'accounts/css/partials/profile.css' %}">
{% endblock style %}

{% block main %}
<h1>Meu Perfil</h1>

<!--Card de usuário (foto, e-mail e nome)-->

<!--Card de endereço
    if != endereço -> pop up de adicionar endereço/adicionar campos de endereço no formulario
-->

<!--Produtos favoritos-->
<div class="container margin">
    <div class="row">
        <div class="col">
            <h2 class="title_section">Produtos Favoritos</h2>
        </div>
        <div class="col text-end">
            <p class="color"><a href="">Ver todos</a></p>
        </div>
    </div>
    {% include 'accounts/partials/products_favors.html' %}
</div>

<!--Meus pedidos-->
<div class="container margin">
    <div class="row">
        <div class="col">
            <h2 class="title_section">Meus Pedidos</h2>
        </div>
        <div class="col text-end">
            <p class="color"><a href="">Ver todos</a></p>
        </div>
    </div>
    {% include 'accounts/partials/my_orders.html' %}
</div>
    

{% endblock main %}