{% extends "shared/base.html" %}
{% load static %}

{% block title %}Configurações do Perfil{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/shared/settings.css' %}">
{% endblock style %}

{% block main %}
<div class="container">
    <h1 class="margin">Configurações do Perfil</h1>

    <ul class="row tabs">
        <li class="col-auto">
            <a href="{% url 'accounts:profile_edit' %}"
            class="{% if request.resolver_match.url_name == 'profile_edit' %}active{% endif %}">
                Dados Pessoais
            </a>
        </li>

        <li class="col-auto">
            <a href="{% url 'accounts:addresses' %}"
            class="{% if request.resolver_match.url_name == 'addresses' %}active{% endif %}">
                Endereço
            </a>
        </li>

        <li class="col-auto">
            <a href="{% url 'accounts:settings_artisian' %}"
            class="{% if request.resolver_match.url_name == 'settings_artisian' %}active{% endif %}">
                Mudar para vendedor
            </a>
        </li>
    </ul>
    

    <div class="col">
        {% block content %}
        {% endblock %}
    </div>
    

</div>
{% endblock %}
