/* ----- BASE ACESS ----- */

html, body{
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
    padding-inline: 0 !important;
    padding-block: 0 !important;
    background-color: var(--color-background) !important;
}

#sections_acess{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
}

#side_form {
    flex: 0 0 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#side_logo {
    flex: 1; 
    background-color: #A65C35;
    display: flex; 
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.img_logo {
    max-width: 80%;
    height: auto;
}


/* MEDIA QUERY: Ajustes para telas pequenas */
@media (max-width: 768px) {
    #side_form {
        margin: 0 10px 0 10px;
    }
}


@media (max-width: 670px) {
    #side_logo{
        display: none;
    }

    #side_form {
        flex: 80%;
    }
}

@media (max-width: 325px) {
    #side_logo{
        display: none;
    }

    #side_form {
        flex: 70%;
    }
}