/* ----- PROFILE ----- */
h1, h2, h3, .color {
    color: var(--color-primary);
}

.margin {
    margin: 30px 0 50px 0;
}

#title {
    margin: 30px 0 30px 0;
}

.title_section {
    margin-bottom: 30px;
}

.summary-card {
    background-color: var(--color-background);
    border-radius: 10px;
    padding: 20px 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
}

/* ----- GRID DE PRODUTOS E PEDIDOS ----- */
.products-grid, .order-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1.5rem;
    justify-content: center; 
    justify-items: center;   
}

.order-grid .card_order_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* --- AJUSTE EXTRA PARA PRODUTOS --- */

.products-grid .card {
    height: 100%;       
    display: flex;
    flex-direction: column;
}

.products-grid .card .card-body {
    flex-grow: 1;       
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

/* Responsividade Apenas para Celular Pequeno */
@media (max-width: 575px) {
    .products-grid, .order-grid {
        grid-template-columns: 1fr; 
    }
}