.margin{
    margin: 30px 0 50px 0;
}

h1{
    color: var(--color-primary)
}

/* Tira as bolinhas da lista */
.tabs {
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 30px 0;
}

/* Links dentro da aba */
.tabs li a {
    display: inline-block;
    padding: 10px 20px;
    background: #f5f2ee; 
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    color: #333;
    transition: 0.2s ease;
}

/* Hover */
.tabs li a:hover {
    background: #ecdcc8;
}

/* Aba ativa */
.tabs li a.active {
    background: #f6d9a8;
    color: #000;
}

.border{
    padding: 30px 40px; 
    border: 1px solid var(--color-primary); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.fonts_artisian{
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}

#btn_profile{
    display: inline-block;
    background-color: var(--color-green);
    color: var(--color-background);
    border-radius: 12px;
    padding: 10px 22px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    margin: 20px 0 30px 0;
}
