
#mainIndex{
 
  margin-bottom: 4rem;
  margin-inline: 4rem;
}
.sec{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

  padding-inline: 1rem;
}
.sec:first-of-type {
  margin-top: 2rem;
}

h2{
  color: var(--color-primary);
}

@media screen and (max-width: 800px){
  #mainIndex{
    margin-inline: 2rem;
 }
}

@media screen and (max-width: 425px){
  #mainIndex{
    margin-inline: 1rem;
 }
}


@media screen and (max-width: 320px){
  .h2Index{
    font-size: var(--font-size-h2-small);
  }

  #mainIndex{
    
    margin-inline: 0;
  }

}
