
.sec{
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}
h2{
  color: var(--color-primary);
}

@media screen and (max-width: 670px){
  
}
@media screen and (max-width: 425px){
  h2{

    font-size: calc(1.125rem + .9vw);
  }
}
