#mainIndex {
  margin-bottom: 2rem;
  margin-inline: 0;
  width: 100%;
}

.sec {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.sec:first-of-type {
  margin-top: 1.5rem;
}

.h2Index {
  color: var(--color-primary);
  font-size: var(--font-size-xl); 
  margin: 0;
}


@media (max-width: 320px) {
  .h2Index {
    font-size: var(--font-size-lg); 
  }
}


@media (min-width: 768px) {
  #mainIndex {
    margin-inline: 1rem;
    padding-inline: 2rem;
  }

  .h2Index {
    font-size: var(--font-size-2xl); 
  }
}

@media (min-width: 1024px) {
  #mainIndex {
    margin-inline: auto;
    padding-inline: 3rem;
    max-width: 1200px; 
  }

  .h2Index {
    font-size: var(--font-size-2xl); 
  }
}


@media (min-width: 1440px) {
  #mainIndex {
    max-width: 1400px;
   
  }
}


@media (min-width: 1920px) {
  #mainIndex {
    max-width: 1600px;
    margin-inline: auto;
  }
}