
.sec{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  padding-inline: 1rem;
   margin-bottom: 1rem;
}
h2{
  color: var(--color-primary);
}


#mainIndex{
  margin-bottom: 4rem;
  margin-inline: 4rem;
}

@media screen and (max-width: 425px){
  h2{

    font-size: calc(1.125rem + .9vw);
  }

  #mainIndex{
    
    margin-inline: 0;
  }

}
