
#mainIndex{
 
  margin-bottom: 4rem;
  margin-inline: 4rem;
}
.sec{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-inline: 1rem;
  margin-bottom: 1rem;
}
.sec:first-of-type {
  margin-top: 3rem;
}

h2{
  color: var(--color-primary);
}



@media screen and (max-width: 320px){
  .h2Index{
    font-size: var(--font-size-h2-small);
  }

  #mainIndex{
    
    margin-inline: 0;
  }

}
