.container {
    position: relative;
    min-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.gallery-wrapper{
    overflow-x: auto;
}
.gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    bottom: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    opacity: 0.7;
    transition: all 600ms ease-in-out;
    z-index: 10;
}

.arrow-left {
    left: 5px;
}

.arrow-right {
    right: 5px;
}

.arrow-left .carousel-control-prev-icon,
.arrow-right .carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.arrow-left .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23A65C35'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}


.arrow-right .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23A65C35'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}



.arrow-left:hover,.arrow-right:hover{
    opacity: 1;
}

.item{
    width: 45%;
    height: auto;
    border-radius: 15px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.current-item{
    opacity: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



@media screen and (max-width: 800px){
    .item{
      width: 30em;
    }
}

@media screen and (max-width: 425px){
  .item{
    width: 20em;
  }
  .arrow-left,
  .arrow-right {
    display: none;
  }

}


@media screen and (max-width: 320px){
  .item{
    width: 14em;
  }

}