/* ----- FOOTER BASE ----- */

.footer_section{
  background-color: #EADDCF;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

#align_footer{
  display: flex;
  flex-direction: column;
  align-items: center;        
  gap: 20px;
  justify-content: space-between; 
  margin: 50px 100px 50px 100px;
}

.row_footer{
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.footer_links{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color:inherit;
}

h3 h4{
  font-weight: bold;
}


/* LINHA ACIMA DO COPYRIGHT */
#line_copyright{
  border-top: 1px solid #A65C35; 
  padding-top: 10px;
  font-size: 13px;
  color: #454343;
  width: 100%;
  text-align: center;
}

/* MEDIA QUERY: Ajustes para telas pequenas */
@media (max-width: 375px) {
  .row_footer {
    flex-direction: column;
    gap: 20px; /* diminui o espaço entre as colunas */
  }

  #align_footer {
    margin: 20px 30px; /* reduz margens laterais e verticais */
    gap: 10px; /* reduz o espaço interno */
  }

  .footer_section {
    padding: 10px 0; /* menos preenchimento no geral */
  }
}
