.search-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
}

.search-button {
    position: absolute;
    right: 15px;
    top: 50%;
    background: none;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon-search {
    display: block;
}