{% extends "shared/base.html" %}
{% load static %}

{% block title %}Detalhe do produto{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'products/css/partials/card.css' %}">
<link rel="stylesheet" href="{% static 'products/css/detail.css' %}">
{% endblock style %}

{% block main %}

<main id="mainDetalheProduto">

<div class="mobile-only">

  <div id="areaDivisao">
    <div class="header">
      <h2>{{ product.name }}</h2>
      
      <div class="area-tag-review">
          <div id="FreteGratis" class="car">
                  <img class="imgCar" src="{% static 'products/media/icons/carro.svg'%}" alt="">
                  <p class="textTagCar">Frete grátis </p>
          </div>
          {% include "products/partials/review.html" %}
      </div>

    </div>
    

    <div class="carouselProduto">      
      <!-- <img id="searchProduct" src="{% static 'products/media/icons/searchIcon.svg' %}" alt=""> -->
      <div class="carouselInner" id="mobileCarouselInner">
            {% if product.image and variant == variants.first %}
              <img src="{{ product.image.url }}" class="carouselItem active">
            {% endif %}

            {% for img in variant.images.all %}
                <img 
                    src="{{ img.image.url }}" 
                    class="carouselItem 
                    {% if variant != variants.first and forloop.first %}
                        active
                    {% elif not product.image and forloop.first %}
                        active
                    {% endif %}">
            {% endfor %}
            <button class="carousel-btn prev">
                <img src="{% static 'products/media/icons/prev.svg' %}" class="arrow arrow-prev">
            </button>
      
            <button class="carousel-btn next">
                <img src="{% static 'products/media/icons/next.svg' %}" class="arrow arrow-next">
            </button>
      </div>
        <div class="carousel-dots"></div>
    </div>

      <div class="area-acessorio-e-favorito"> 
        <h3 class="textAcessorio">Acessorio</h3>
        <img id="imgHard" src="{% static 'products/media/icons/favorite.svg' %}" alt="">
      </div>

       <div class="area-preco-compra">
          <div class="areaPriceButton">
            <div class="areaPrice">
             
              <div class="areaPriceOff">
                 {% if discount_percent > 0 %}
                <p>R$ <span class="textPriceRick">55,00</span> </p>
                <div id="off">
                    <img id="imgRaio" src="{% static 'products/media/icons/raio.svg'%}" alt="">
                    <p  id="textOff">{{ discount_percent }}% Off</p>
                </div>
                {% endif %}
              </div>
              {% if variant %}
              <p class="textPrice" id="variantPriceMobile">R$ {{ variant.price|floatformat:2 }}</p>
              {% else %}
              <p class="textPrice">R$ 0,00</p>
              {% endif %}
            </div>

            {% if is_available %}
            <!--formulário - COMPRAR -->
            <form action="{% url 'orders:add' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="variant_id" value="{{ variant.product_variant_id }}">
                <input type="hidden" name="quantity" value="1">
                
                <button type="submit" id="comprarButton" style="border:none; background:none; padding:0; display:flex;">
                    <div id="comprarButton" style="pointer-events: none;"> 
                         <img class="iconComprarButton" src="{% static 'products/media/icons/shopping-bag.svg' %}" alt="">
                         <p class="textComprarButton">Comprar</p>
                    </div>
                </button>
            </form>
            {% else %}
              <button id="comprarButton" disabled>
                <img  class="iconComprarButton" src="{% static 'products/media/icons/shopping-bag.svg' %}" alt="">
                <p class="textComprarButton">Comprar</p>
              </button>
            {% endif %}

          </div>

        
        <div class="areaAdicionar">
          {% if is_available %}
          <!--formulário - ADICIONAR AO CARRINHO -->
            <form action="{% url 'orders:add' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="variant_id" value="{{ variant.product_variant_id }}">
                <input type="hidden" name="quantity" value="1">

                <button type="submit" id="adicionarButton" style="border:none; background:none; padding:0; display:flex;">
                     <div id="adicionarButton" style="pointer-events: none;">
                        <img id="imgShopping" src="{% static 'products/media/icons/shoppingCart.svg' %}" alt="">
                        <p class="addCart">Adicionar ao Carrinho</p>
                     </div>
                </button>
            </form>
          {% else %}
            <button id="adicionarButton" disabled>
              <img id="imgShopping" src="{% static 'products/media/icons/shoppingCart.svg' %}" alt="">
              <p class="addCart">Adicionar ao Carrinho</p>
            </button>
          {% endif %}
        </div>

        {% if not is_available %}
          <div class="product-unavailable mt-3 ">
              {{ unavailable_message }}
          </div>
        {% endif %}

      </div>


      
  </div>
  <div class="d-flex flex-column mt-3 px-3">
            <p class="title-variante-mb">Variantes</p>
            <div class="variant-selector d-flex flex-wrap gap-2 mt-2">
              {% for v in variants %}
                {% with v.images.first as img %}
                  <a
                    href="{% url 'products:detail' product.product_id %}?variant={{ v.product_variant_id }}"
                    class="variant-card 
                          {% if v.product_variant_id == variant.product_variant_id %}active{% endif %}
                          {% if not v.is_active %}disabled{% endif %}"
                  >
                    {% if img %}
                      <img
                        src="{{ img.image.url }}"
                        alt="Variante {{ v.sku }}"
                        class="variant-thumb"
                      >
                    {% else %}
                      <img
                        src="{% static 'products/media/no-image.png' %}"
                        alt="Sem imagem"
                        class="variant-thumb"
                      >
                    {% endif %}
                  </a>
                {% endwith %}
              {% endfor %}
          </div>
          </div>


 
  <div class="info-loja">
      <div id="areaLogoLoja">
        <a href="">
          <img id="imgLogoLoja" src="{{ product.store.image.url }}" alt="Logo da {{ product.store.name }}">
        </a>
        <div id="areaNomeLoja">
          <h4>{{ product.store.name }}</h4>
          <p>{{ product.store.user}}</p>
        </div>
      </div>

    <div id="areaTipoLoja">
      <div class="tipoLoja">
        <p>Acessórios</p>
      </div>

      <div class="tipoLoja">
        <p>Moda Infantil</p>
      </div>

    </div>
    
    
  </div>
  
  {% if show_personalization %}
    <div class="contato-artesao">
      <p>Você pode entrar em contato com o artesão para solicitar produtos personalizados {% if variant.type == 'DEMAND' %} ou encomenda-los{% endif %}.</p>
      <a href="{% url 'chats:chat' %}">
        <button id="chatButton">
          <p>Chat para personalização</p>
          <img src="{% static 'products/media/icons/chatIcon.svg' %}" alt="">
        </button>
      </a>
    </div>
  {% endif %}

  <div>
      {% include 'products/partials/drop.html' with product=product variant=variant %}
  </div>
 
</div>

<div class="desktop-only">
   <div class="desktop-div-colunas">
      <aside class="desktop-gallery">
        <div class="icons-gallery">
          <img class="icon-favorite" src="{% static 'products/media/icons/favorite.svg' %}" alt="">
          <!-- <img class="icon-search" src="{% static 'products/media/icons/searchIcon.svg' %}" alt=""> -->
        </div>

        {% if product.image and variant == variants.first %}
        {# Se for a primeira variante, mostra a imagem do pai #}
        <img id="mainImageDesktop" src="{{ product.image.url }}" class="main-image">
    {% elif variant.images.first %}
        {# Se não for a primeira ou não tiver imagem do pai, mostra a da variante #}
        <img id="mainImageDesktop" src="{{ variant.images.first.image.url }}" class="main-image">
    {% else %}
        <img id="mainImageDesktop" src="{% static 'products/media/no-image.png' %}" class="main-image">
    {% endif %}

    <div class="thumbnail-list">
        {% if product.image and variant == variants.first %}
            <img 
                src="{{ product.image.url }}" 
                data-src="{{ product.image.url }}" 
                class="thumbnail active" 
                alt="Imagem principal">
        {% endif %}

        {% for img in variant.images.all %}
            <img
                src="{{ img.image.url }}"
                data-src="{{ img.image.url }}"
                {# Fica ativa se não houver imagem do pai ou se não for a primeira variante #}
                class="thumbnail {% if variant != variants.first and forloop.first %}active{% elif not product.image and forloop.first %}active{% endif %}"
                alt="Variante {{ variant.sku }}">
        {% endfor %}
        </div>
      </aside>

      <article class="desktop-product-info">
        <div class="product-main-info">
          <h1 class="product-title">{{ product.name }}</h1>
          {% include "products/partials/review.html" with mode="display" %}

          <p class="description-product" id="descriptionPreview">
          {{ variant.description|default:product.description }}           
          </p> 
          <a href="#more-datails">
            <button type="button" class="btn-see-more">Mais informações</button>
          </a>    

          <div id="FreteGratis" class="car desktop-car">
            <img class="imgCar" src="{% static 'products/media/icons/carro.svg'%}" alt="">
            <p class="textTagCar">Frete grátis </p>
          </div>
        </div>
        
        <div class="area-variante">
        {% if variants.exists %}
          <p class="title-variante">Variações</p>
          <div class="variant-selector d-flex flex-wrap gap-2">
            {% for v in variants %}
              {% with v.images.first as img %}
                <a
                  href="{% url 'products:detail' product.product_id %}?variant={{ v.product_variant_id }}"
                  class="variant-card border rounded p-1
                        {% if v.product_variant_id == variant.product_variant_id %}active{% endif %}
                        {% if not v.is_active %}disabled{% endif %}"
                >
                  {% if img %}
                    <img
                      src="{{ img.image.url }}"
                      alt="Variante {{ v.sku }}"
                      class="variant-thumb"
                    >
                  {% else %}
                    <img
                      src="{% static 'products/media/no-image.png' %}"
                      alt="Sem imagem"
                      class="variant-thumb"
                    >
                  {% endif %}
                </a>
              {% endwith %}
            {% endfor %}
          </div>

        {% endif %}
        </div>
      
      </article>

      <aside class="desktop-sidebar">
        <div class="price-card">
      
         
            
            <div class="price-row">
              {% if discount_percent > 0 %}
              <p class="original-price">R$ <span  class="textPriceRick">55,00</span></p>
              
              <div id="off">
                <img id="imgRaio" src="{% static 'products/media/icons/raio.svg'%}" alt="">
                <p  id="textOff">{{ discount_percent }} Off</p>
              </div>
              {% endif %}
            </div>

        
          {% if variant %}
            <div class="current-price" id="variantPriceDesktop">R$ {{ variant.price|floatformat:2 }}</div>
          {% else %}
            <div class="current-price">R$ 0,00</div>
          {% endif %}

          {% if variant and variant.type == 'DEMAND' %}
            <div class="area-on-demand">
              <p class="on-demand-label">
                Produto sob encomenda
              </p>
            </div>
          {% endif %}
          <div class="area-quantity">
            <p>Quantidade</p>
          
            <div class="quantity-selector">
              <button type="button" class="qty-btn" onclick="changeQuantity(-1)">−</button>
              
              <input 
                  type="number" 
                  id="quantity" 
                  name="quantity" 
                  value="1" 
                  min="1"
                  {% if max_quantity %} max="{{ max_quantity }}" {% endif %}
                  class="qty-input" 
                  readonly
                  form="form-add-cart" 
              >

              <button type="button" class="qty-btn" onclick="changeQuantity(1)">+</button>
          </div>

      
        </div>

        {% if is_available %}
        <!--formulário - COMPRAR-ADC DESKTOP -->
          <form action="{% url 'orders:add' %}" method="POST" id="form-add-cart">
            {% csrf_token %}
            <input type="hidden" name="variant_id" value="{{ variant.product_variant_id }}">
            
            <button type="submit" name="action" value="buy" class="btn-buy desktop-btn" style="width:100%;">
                <img src="{% static 'products/media/icons/shopping-bag.svg' %}" alt="">
                <span>Comprar</span>
            </button>
            
            <button type="submit" name="action" value="add" class="btn-add-cart desktop-btn mt-2" style="width:100%;">
                <img class="img-btn-cart" src="{% static 'products/media/icons/shoppingCart.svg' %}" alt="">
                <span>Adicionar ao Carrinho</span>
            </button>
          </form>

        {% else %}
            <button type="button" class="btn-buy desktop-btn" disabled>
                <img src="{% static 'products/media/icons/shopping-bag.svg' %}" alt="">
                <span>Comprar</span>
            </button>

            <button type="button" class="btn-add-cart desktop-btn" disabled>
              <img  class="img-btn-cart" src="{% static 'products/media/icons/shoppingCart.svg' %}" alt="">
              <span>Adicionar ao Carrinho</span>
            </button>
        {% endif %}


          {% if not is_available %}
            <div class="product-unavailable mt-3 ">
              {{ unavailable_message }}
            </div>
          {% endif %}
          
        </div>

        <div class="seller-card">
          <div class="store-header">
            <a href="" class="store-logo-link">
              <img src="{{ product.store.image.url }}" alt="Logo da {{ product.store.name }}" class="store-logo">
            </a>
            <div class="store-name">
              <h3>{{ product.store.name }}</h3>
              <p>{{ product.store.user}}</p>
            </div>
          </div>

          
          {% if show_personalization %}
          <div class="personalization">
            <p>Deseja personalizar {% if  variant.type == 'DEMAND'%} ou encomendar {%endif%} o seu produto?</p>
            <a href="{% url 'chats:chat' %}">
              <button type="button" class="btn-chat">
                <span>Chat para personalização</span>
                <img src="{% static 'products/media/icons/chatIcon.svg' %}" alt="">
              </button>
             </a>
          </div>
          {% endif %}
        </div>
    </div>
    
    <div id="more-datails">
      {% include 'products/partials/drop.html' with product=product variant=variant %}
    </div>

</div>

<section class="container mt-1 area-review " id="reviews-section">
    <input type="hidden" id="avg-data" value="{{ rating_average|default:'0' }}">
    <div class="row pt-4">
          <div class="col-md-4 mb-4">
              <h3 class="title-area-review fw-bold">Avaliações de clientes</h3>
              <div class="d-flex align-items-center gap-3 my-3">
                  <span class="display-4 fw-bold text-dark">{{ rating_average|stringformat:".1f" }}</span>
                  <div class="rating-display-only">
                      {% include "products/partials/review.html" with mode="display" %}
                  </div>
              </div>
              <div class="rating-bars mt-4" id="rating-bars">
                    <p class="fw-bold mb-2 small">Classificação por estrelas</p>
                    {% for item in stars_composition %}
                    <div class="rating-row d-flex align-items-center mb-2"
                        data-stars="{{ item.star_number }}"
                        data-count="{{ item.count }}"
                        data-percentage="{{ item.percentage }}"
                        style="font-size: 0.85rem;"
                    >
                        <div style="width: 70px;">
                            {{ item.star_number }} estrela{{ item.star_number|pluralize }}
                        </div>
                        <div class="progress flex-grow-1 mx-2" style="height: 14px; background-color: #f0f0f0; border-radius: 4px;">
                            <div class="progress-bar" style="width: 0%; background-color: #cdaa36;"></div>
                        </div>
                        <div class="percentage-text" style="width: 40px; text-align: right;">0%</div>
                    </div>
                    {% endfor %}
              </div>
              <button type="button" class="btn border w-100 fw-bold py-2 mt-4 btn-avaliar" data-bs-toggle="modal" data-bs-target="#modalAvaliar">
                  Avaliar
              </button>
          </div>

          <div class="col-md-8">
              <h4 class="text-main-review fw-bold mb-4 border-bottom pb-2">Principais avaliações</h4>
              <div class="reviews-list">
                {% for review in reviews %}
                    <div class="review-item mb-4 pb-4 border-bottom">
                        <div class="d-flex justify-content-between ">
                            <div class="d-flex align-items-center gap-2 mb-2">
                                <div class="review-avatar">
                                    {% if review.user.profile.profile_image %}
                                        <img src="{{ review.user.profile.profile_image.url }}" alt="Foto de {{ review.user.username }}" class="avatar-img">
                                    {% else %}
                                        <div class="avatar-placeholder"><i class="bi bi-person-fill"></i></div>
                                    {% endif %}
                                </div>
                                
                                <div class="d-flex align-items-center gap-2">
                                    <span class="fw-bold">{{ review.user.username }}</span>
                                    {% if review.user_has_purchased %}
                                        <span class="review-verified">
                                        comprador verificado
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="text-warning mb-2">{{ review.rating }} ★</div>
                        </div>
                        <p class="text-dark">{{ review.comment }}</p>
                        <small class="text-muted">{{ review.created_at|date:"d/m/Y" }}</small>
                    </div>
                {% empty %}
                    <p class="text-muted italic text-center py-4">Ainda não há avaliações para este produto.</p>
                {% endfor %}

                {% if has_more_reviews %}
                    <div class="text-center mt-4">
                        <a href="?reviews_limit={{ next_reviews_limit }}#reviews-section" class="btn btn-read-more fw-bold">Ver mais comentários</a>
                    </div>
                {% endif %}
             </div>
          </div>
    </div>
</section>

<div class="modal fade" id="modalAvaliar" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg border-0">
      <div class="modal-header">
        <h5 class="modal-title fw-bold">Avaliar produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <form method="post" action="{% url 'products:submit_review' product.product_id %}">
        {% csrf_token %}
        <div class="modal-body">
            <p class="small text-muted mb-3">Sua nota para: <strong>{{ product.name }}</strong></p>
            <div id="modal-rating-area">
                {% include "products/partials/review.html" with mode="interactive" %}
            </div>
            <input type="hidden" name="rating" id="rating-input" value="0">
            <div class="mt-4">
                <label class="form-label fw-bold small">Seu comentário</label>
                <textarea name="comment" class="form-control" rows="4" required placeholder="O que você mais gostou ou não gostou?"></textarea>
            </div>
        </div>
        
        <div class="modal-footer border-0">
            <button type="button" class="btn btn-link text-muted btn-cancelar" data-bs-dismiss="modal">cancelar</button>
            <button type="submit" class="btn fw-bold px-4 btn-enviar-modal">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

</main>

{% endblock %}

{% block scripts %}
<script src="{% static 'products/js/detailProduct.js' %}" ></script>
{% endblock scripts %}