{% extends "shared/base.html" %}
{% load static %}

{% block title %}Produtos Favoritos{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'products/css/favoriteProducts.css' %}">
{% endblock %}

{% block main %}
<section class="product-list">
  <div class="area-title-searchbar">

    <div class="header-row">
      <div class="area-text">
        <h1 class="section-title">Meus produtos favoritos</h1>
        <p class="qtd-save">8 produtos salvos na sua lista</p>
      </div>

      <div class="area-order-clear">
        <div class="sort-wrapper">
          <form method="get" id="order-form">
            <select name="sort" class="sort-select" onchange="document.getElementById('order-form').submit();">
              <option value="" selected disabled>Ordenar por...</option>
              <option value="recentes" {% if request.GET.sort == 'recentes' %}selected{% endif %}>Mais Recentes</option>
              <option value="antigos" {% if request.GET.sort == 'antigos' %}selected{% endif %}>Mais Antigos</option>
              <option value="preco_menor" {% if request.GET.sort == 'preco_menor' %}selected{% endif %}>Menor Preço</option>
              <option value="preco_maior" {% if request.GET.sort == 'preco_maior' %}selected{% endif %}>Maior Preço</option>
            </select>
          </form>
        </div>
        
      </div>
    </div>

 
    <div class="area-searchbar">

      {% include "partials/searchbar.html" with container_class="search-bar-container" placeholder='Busque pelos favoritos' %}
    </div>


  </div>


  <div class="products-list">
    {% for product in products %}
    {% include 'products/partials/card.html' with pk=product.pk url=product.image.url description=product.name off=True text='20' price=product.min_price favor=True is_favorite=product.is_favorite %}
    {% empty %}
    <p>Você ainda não tem produtos favoritos.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}