{%extends "shared/base.html"%}
{% load static %}
{% block title %}Search Products{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'products/css/searchProduct.css' %}">
{% endblock style %}


{% block main %}

<section id="searchProduct">

  <div class="categories">
   {% include 'products/partials/category.html' with search=True %}
   {% include 'products/partials/category.html' with type=True title="Cerâmica"%}
   {% include 'products/partials/category.html' with type=True title="Tecidos"%}
   {% include 'products/partials/category.html' with type=True title="Madeira"%}
  </div>

<p class="textResult">Resultados para "caixa de joias"</p>

<div id="areaResultsCards">

   {% include 'products/partials/card.html' with url='products/media/caixaDeJoias.jpeg' description='Caixa de Joias' off=True text=30 price='R$ 22,00' envioRapido=True favor=True%}

   {% include 'products/partials/card.html' with url='products/media/caixaDeJoias.jpeg' description='Caixa de Joias' off=True text=30 price='R$ 10,00' FreteGratis=True favor=True%}

  {% include 'products/partials/card.html' with url='products/media/caixaDeJoias.jpeg' description='Caixa de Joias' off=True text=30 price='R$ 10,00' envioRapido=True favor=True%}

  {% include 'products/partials/card.html' with url='products/media/caixaDeJoias.jpeg' description='Caixa de Joias' off=True text=30 price='R$ 10,00' FreteGratis=True favor=True%}

  {% include 'products/partials/card.html' with url='products/media/caixaDeJoias.jpeg' description='Caixa de Joias' off=True text=30 price='R$ 10,00' FreteGratis=True favor=True%}

</div>

</section>




{% endblock main %}
