{%extends "shared/base.html"%}
{% load static %}
{% block title %}Search Products{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'products/css/searchProduct.css' %}">
{% endblock style %}


{% block main %}

<section id="searchProduct">

  <div class="categories">
    <button class="category-btn category-search active">
      <img id="search" src="{% static 'products/media/icons/search.svg' %}" alt="Buscar">
    </button>
    <button class="category-btn ">Cerâmica</button>
    <button class="category-btn">Tecidos</button>
    <button class="category-btn">Madeira</button>
  </div>

<p class="textResult">Resultados para "caixa de joias"</p>

<div id="areaResultsCards">

   {% include 'products/partials/card.html' with url='products/media/caixaDeJoias.jpeg' description='Caixa de Joias' off=True text=30 price='R$ 22,00' envioRapido=True %}

   {% include 'products/partials/card.html' with url='products/media/caixaDeJoias.jpeg' description='Caixa de Joias' off=True text=30 price='R$ 10,00' FreteGratis=True %}

  {% include 'products/partials/card.html' with url='products/media/caixaDeJoias.jpeg' description='Caixa de Joias' off=True text=30 price='R$ 10,00' envioRapido=True %}

  {% include 'products/partials/card.html' with url='products/media/caixaDeJoias.jpeg' description='Caixa de Joias' off=True text=30 price='R$ 10,00' FreteGratis=True %}

  {% include 'products/partials/card.html' with url='products/media/caixaDeJoias.jpeg' description='Caixa de Joias' off=True text=30 price='R$ 10,00' FreteGratis=True %}

</div>

</section>




{% endblock main %}
