{% extends "shared/base.html" %}
{% load static %}

{% block title %}Pesquisa de produtos{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'products/css/searchProduct.css' %}">
{% endblock style %}

{% block main %}

<section id="search-product">

  <div class="area-categories-textResult">

    <div class="categories">
      
    {% include 'products/partials/category.html' with search=True %}

    {% include 'products/partials/category.html' with type=True title="Cerâmica" slug="ceramica" active_filter=active_filter %}

    {% include 'products/partials/category.html' with type=True title="Tecidos" slug="tecidos" active_filter=active_filter %}

    {% include 'products/partials/category.html' with type=True title="Madeira" slug="madeira" active_filter=active_filter %}

    </div>

    {% if query %}
    <p class="textResult">
      Resultados para "<strong>{{ query }}</strong>"
    </p>

    {% elif active_filter %}
      <p class="textResult">
        Resultados da categoria
        <strong>{{ active_filter|title }}</strong>
      </p>

    {% else %}
      <p class="textResult">
      
      </p>
    {% endif %}

  </div>

  <div id="areaResultsCards">

    {% if products %}
      {% for product in products %}
        <div class="card current-card">
          {% include 'products/partials/card.html' with pk=product.pk url=product.image.url description=product.name off=True text='20' price=product.min_price favor=True is_favorite=product.is_favorite %}
        </div>
      {% endfor %}
    {% else %}
      <div class="d-flex justify-content-center align-items-center w-100">
        <p class="text-muted text-center mt-5">
          Nenhum produto encontrado.
        </p>
      </div>
    {% endif %}

  </div>

</section>

{% endblock main %}
