.card_order{
    background-color: var(--color-accent);
    border-radius: 10px;
    width: 300px;
}

.card_order_wrapper{
    margin-bottom: 10px;
}

.tag{
    background-color: var(--color-background);
    border-radius: 10px;
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 0.9rem;
}

#tag_progress{
    color: var(--color-accent);
}

#tag_delivered{
    color: var(--color-green);
}

#tag_cancelled{
    color: var(--color-red);
} 