{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/partials/card.css' %}">
{% endblock style %}

<a href="#">
  <div class="card" >
    <div id="areaImg">
      <img src="{% static url %}" class="card-img-top img" alt="{{ description }}">
      {% if favor %}
        <button id="hard">
          <img id="imgHard" src="{% static 'media/icons/favorite.svg' %}" alt="">
        </button>
      {%endif%}
    </div>
    <div class="card-body">
      <div id="areaH">
        <p id="description">{{ description }}</p>
        {% if off %}
          <div id="off">
            <img id="imgRaio" src="{% static 'media/icons/raio.svg'%}" alt="">
            <p class="textTag" id="textOff">{{text}}% Off</p>
          </div>
        {%endif%}
      </div>
      <p id="price">{{ price }}</p>

      {% if envioRapido %}
        <div id="envioRapido" class="car">
            <img class="imgCar" src="{% static 'media/icons/carro2.svg'%}" alt="">
            <p class="textTag">Envio rápido</p>
        </div>
      {%endif%}

      {% if FreteGratis %}
        <div id="FreteGratis" class="car">
            <img class="imgCar" src="{% static 'media/icons/carro.svg'%}" alt="">
            <p class="textTag">Frete grátis </p>
        </div>
      {%endif%}

    </div>
  </div>
</a>
