{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'products/css/partials/category.css' %}">
{% endblock style %}

{% if search %}
  <a
    href="{% url 'products:search' %}"
    class="category-btn category-search {% if active_filter == 'todos' %}active{% endif %}"
  >
    <img
      id="search"
      src="{% static 'products/media/icons/search.svg' %}"
      alt="Buscar"
    >
  </a>
{% endif %}

{% if type %}
  <a
    href="{% url 'products:search' %}?category={{ slug }}"
    class="category-btn {% if active_filter == slug %}active{% endif %}"
  >
    {{ title }}
  </a>
{% endif %}