{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'accounts/css/partials/card_profile.css' %}">
{% endblock style %}

<div class="container card_profile margin">
  <div class="row align-items-center">
    <div class="col-auto">
      <img src="{% static url %}" class="profile_img" alt="{{ description }}">
    </div>
    <div class="col-auto">
      <h3 id="name">{{ name }}</h3>
      <p id="email">{{ email }}</p>
      <span id="tag_user">{{ tag_user }}</span> <!--Customer/Artisian-->
    </div>
    <div class="col-auto ms-auto">
      <a href="{#{% url %}#}" id="btn_profile">Editar Perfil</a>
    </div>
  </div>
</div>