{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'accounts/css/partials/forms.css' %}">
{% endblock style %}

<div class="form_container">
    <h2>{{ title }}</h2>
    <p>{{ info_text }}</p>
    
    <form method="POST" action="{% url 'accounts:register' %}" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
    
        {% for field in form %}
            {% if field.name == 'profile_image' %}
                <div class="form_group profile-upload-wrapper">
                    <div class="image-preview-container">
                        <img id="img-preview" src="{% static 'accounts/media/hermione.png' %}" alt="Foto de Perfil">
                    </div>

                    <div class="input-hidden-container">
                        {{ field }} 
                    </div>

                    <label for="{{ field.id_for_label }}" class="btn-green">
                        Alterar Foto
                    </label>
                </div>
            {% else %}
            <div class="form_group">
                <label for="{{ field.id_for_label }}" class="form_label">{{ field.label }}</label> 
                {{ field.errors }}
                {{ field }} 
            </div>
            {% endif %}
            <!--Retorna somente na tela de login-->
            {% if field.name == 'password' and title == 'Acessar conta'%}
                <p>
                    <a href="{#{% url 'password_reset' %}#}" class="link_recuperar">Recuperar senha</a> 
                </p>
            {% endif %}
        {% endfor %}
    
        <!--Incluir componente de botão-->
       <button type="submit" class="btn btn_acess btn-primary">{{ btn_text }}</button>
    </form>
    
    <!--Retorna somente na tela de login-->
    {% if title == 'Acessar conta' %}
        <div class="divider my-4">
            <span>Ou</span>
        </div>

        <a href="{#{% url 'social:begin' 'google-oauth2' %}#}" class="btn btn_google">
            <img src="{% static 'accounts/media/logo_google.png' %}" alt="Logo Google" class="logo_google">
            Continue com Google
        </a>
    {% endif %}


    {% if text_link and link_url %}
        <p class="form_footer">
            {{ text_link }} <a href="{% url 'accounts:register' %}" class="link_recuperar">{{ link_text }}</a>
        </p>
    {% endif %}
</div>

<script src="{% static 'accounts/js/partials/forms.js' %}"></script>
