{% load static %}

{% block style_products_favors %}
  <link rel="stylesheet" href="{% static 'accounts/css/partials/my_orders.css' %}">
{% endblock style_products_favors %}

<div class="card_orders">
    <div>
        <p id="text_id">#{{ order_id }}</p>
        <p id="text_date">{{ order_date }}</p>
    </div>
    {% if progress %}
        <div id="progress">
            <p class="text_tag" id="tag_progress">Em andamento</p>
        </div>
    {% endif %}

    {% if delivered %}
        <div id="delivered">
            <p class="text_tag" id="tag_delivered">Entregue</p>
        </div>
    {% endif %}

    {% if cancelled %}
        <div id="cancelled">
            <p class="text_tag" id="tag_cancelled">Cancelado</p>
        </div>
    {% endif %}
</div>