{% load static %}

<div class="orders-grid">

  <div class="card_order_wrapper">
    {% include 'orders/partials/order.html' with order_id='AT001234' order_date='15 de Janeiro, 2025' status='progress' %}
  </div>

  <div class="card_order_wrapper">
    {% include 'orders/partials/order.html' with order_id='AT001235' order_date='15 de Janeiro, 2025' status='delivered' %}
  </div>

  <div class="card_order_wrapper">
    {% include 'orders/partials/order.html' with order_id='AT001236' order_date='15 de Janeiro, 2025' status='delivered' %}
  </div>

  <div class="card_order_wrapper">
    {% include 'orders/partials/order.html' with order_id='AT001237' order_date='15 de Janeiro, 2025' status='cancelled' %}
  </div>

</div>
