{% load static %}

<div class="products-grid">
    {% include 'products/partials/card.html' with url='media/kit_vermelho.png' description='Kit Vermelho' favor=False %}

    {% include 'products/partials/card.html' with url='media/tiara_roxa.png' description='Tiara Roxa' favor=False %}

    {% include 'products/partials/card.html' with url='media/faixinhas_rosas.png' description='Faixinhas Rosas' favor=False %}

    {% include 'products/partials/card.html' with url='media/tiara_roxa.png' description='Tiara Roxa' favor=False %}
</div>
