{% load static %}

<div class="products-grid">
  <div class="card_product">
    {% include 'products/partials/card.html' with url='media/kit_vermelho.png' description='Kit Vermelho' favor=False %}
  </div>

  <div class="card_product">
    {% include 'products/partials/card.html' with url='media/tiara_roxa.png' description='Tiara Roxa' favor=False %}
  </div>

  <div class="card_product">
    {% include 'products/partials/card.html' with url='media/faixinhas_rosas.png' description='Faixinhas Rosas' favor=False %}
  </div>

  <div class="card_product">
    {% include 'products/partials/card.html' with url='media/tiara_roxa.png' description='Tiara Roxa' favor=False %}
  </div>
</div>
