#loja{
  padding: 4rem;
}
.loja-banner-wrapper {
    position: relative;
    width: 250px;
    height: 149px;              
    border-radius: 12px;        
 
}

.loja-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;         
    object-position: center;   
    border-radius: 15px;
  
}


.loja-logo-overlay {
    position: absolute;
    top: 10rem;
    left: 5rem;
    transform: translate(-50%, -50%);     
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
   
}
