.bg-security {
    background-color: var(--color-surface) !important;
    border: 1px solid #d4edda;
}

.field-option {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
}

.field-option.selected {
    border-color: var(--color-green);
}

.field-option-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #ced4da;
    display: inline-block;
}

.field-option.selected .field-option-circle {
    background-color: var(--color-green);
    border-color: var(--color-green);
}

.summary-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.cvv-select {
    width: 60px;
    padding: 6px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.card-header {
    border-bottom: 1px solid #e9ecef;
    background-color: var(--color-background);
}

.card{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    border-width: 0 !important;
}

@media (max-width: 768px) {
    .total-price{
        font-size: 1.35rem !important;
    }

    .margin{
        margin-bottom: 30px;
    }
}
