.bg-security {
    background-color: var(--color-surface) !important;
    border: 1px solid #d4edda;
}


.cvv-select {
    width: 60px;
    padding: 6px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}


@media (max-width: 768px) {
    .total-price{
        font-size: 1.35rem !important;
    }

}
