{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'stores/css/partial/order-items.css' %}" />
{% endblock %}

<div class="card">

    <div class="order-status-section">
                <h3>Status</h3>    
                {% if order.status == 'COMPLETED' or order.status == 'CANCELLED' %}
                    <span class="status-badge status-{{ order.status|lower }}">
                        {{ order.get_status_display }}
                    </span>
                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        <select name="status" class="form-select" >
                            {% for value, label in order.ORDER_STATUS_CHOICES %}
                                <option value="{{ value }}" {% if order.status == value %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn-save">
                            Atualizar
                        </button>
                    </form>
                {% endif %}
    </div>

    <div class="order-section">
        

        <h3>Itens do pedido</h3>

        <table class="order-items-table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Variação</th>
                    <th>Qtd</th>
                    <th>Preço</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td>{{ item.product_variant.product.name }}</td>
                    <td>{{ item.product_variant.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>R$ {{ item.price_at_purchase|floatformat:2 }}</td>
                    <td>
                        R$ {{ item.subtotal|floatformat:2 }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="order-total">
        <strong>Total do pedido:</strong>
        R$ {{ order.get_total_calculado|floatformat:2 }}
        </div>


        
    </div>


</div>